/* repeat image only on y-axis. image centered in page. background color after */
body {
    background-image: url("../images/filmreel.jpg");
    background-repeat: repeat-y;
    background-position: 50%;
    background-position-y: top;
    background-color: #eee8ea;
    margin: 0 auto 0 auto;
    font-family: 'Handlee', cursive;
    font-size: 18px;
    text-align: center;
}
/* create spacing between main content and background */
.container {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 960px;
}
/* title styling */
#title {
    font-size: 52px;
}

hr  {
    border: 2px solid #b8dbd9;
}
/* start button styling */
.startBtn {
    background-color: #b8dbd9;
}
/* styling added to div once it is created by javascript/jquery */
#gameBody {
    background-color: #fbfefb;
    padding: 20px;
}
/* change color or timer to stand out */
h2 {
    color: #92140c;
}